*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
  }

  /*colour*/
:root { /*i got this colour palette from https://www.materialpalette.com/pink/grey*/
    --divider: #BDBDBD;
    --primary: #E91E63;
    --dark: #C2185B;
    --light: #F8BBD0;
    --accent:#9E9E9E;
    --text1: #212121;
    --text2:#FFFFFF;
    --border: 5px solid var(--light);
}

/*COLOUR BLOCK */
.Home{ /* I got this styling from https://codepen.io/miquel/pen/KVXBRQ*/
    text-align:center;
    position:relative;
    height: auto;
    padding-bottom:60px;
    background: var(--primary);
    background-size:cover;
    color:var(--text2);
    overflow:hidden;
    font-family: 'Acme', sans-serif;
}
h1{ /* I got this styling from https://codepen.io/miquel/pen/KVXBRQ*/
    margin:30px 0 10px;
    font-size:35px;
}


/*navigation*/ /* i used the styling of this websites navigation bar https://codepen.io/jakestuts/full/eyvrx as inspiration for my navigation bar*/
nav{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text1);
}

ul {
    overflow:auto;
    list-style-type: none
}

li {
    height:20px;
    float:left;
    margin-right: 0px;
    border-right: 3px solid
    var(--divider); 
    padding: 0 15px;
}

li:last-child {
    border-right:none;
}

li a {
    text-decoration: none;
    text-align: center;
    color: var(--text1);
    font: 20px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5 ease;
    
}

li a:hover {
    color: var(--accent);
}


body {
    text-align: center;
    

}

footer { 
    position: absolute;
    bottom: 10px; /* i got this line of code from https://www.w3schools.com/cssref/pr_pos_bottom.asp*/
    left: 50%;
}

.profile{
    margin: 10px;
    height: 350px;
}

/* home page grid*/

/*i got the code for the grid from assignment 0*/

.container {
    width: 96rem;
    margin: 2rem auto;
}
.box-item {
    margin: 10px;
    height: 350px;
    border-radius: 5px;
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

h2{
    text-align: center;
}

.boxes{/*this puts the images into a grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;

}

/*text boxes*/
.title{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
p{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    text-align: center;
}


.table {
    height: 350px;

    border: var(--border);
    box-shadow: 0 10px 20px var(--light);
    
}


/*portfolio grid*/
:root {
    font-size: 75.5%;
    font-family: Montserrat, sans-serif;
}


.album-item {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 20px var(--light);
    transition: all .3s;
    overflow: hidden;
    position: relative;
}

.album {/*this puts the images into a grid*/
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 1fr));
    grid-gap: 1.5rem;
    
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.text{
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
}
/* contact me*/
/*code from https://codepen.io/Chitransh_Harshwal/pen/bjjwep*/
.container2 {
    border-radius: 5px; 
   
    padding: 2px;  
    text-align: center;
}
  
  .row:after {
    content: "";
    display: table;
    clear : both;
  }
  
  .col-70{
    margin-left: 5em;
    margin-top: 10px;
    padding: 10px;
    width: 70%;
  }
  
  input[type=text], [type=email] { 
    width: 100%;
    padding: 12px;
    border: hidden;
    font-size: 18px;
    font-family: calibri;
    border-bottom: 2px solid var(--light);
    outline: none;
    box-sizing: border-box;
    resize: vertical;
    
  }
  
  input:focus {
    font-style: italic;
    border-bottom: 2px solid var(--primary);
  }
  
  textarea{
   width: 100%;
    font-style:calibri; 
    padding: 12px;
    border: hidden;
    font-size: 18px;
    font-family: calibri;
    border-bottom: 2px solid var(--light);
    outline: none;
    height: 100px;
    resize: none;
  }
  
  textarea:focus  {
    font-style: italic;
    border-bottom: 2px solid var(--primary);
  }
  
  input[type=submit] {
    border: 2px solid var(--primary);
    padding: 12px 12px 10px 12px;
    font-size: 18px;
    font-family: calibri;
    background-color: var(--text2);
    font-weight: 700;
    float: right;
    color: var(--primary);
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
  }
  
  input[type=submit]:hover {
    color: var(--dark);
    padding: 12px 56px 10px 56px;
    outline: none;
    border: 2px solid var(--dark);
    letter-spacing: 0px;
    
  }
  
  @media screen and (max-width: 600px) {
      .row, .col-70, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }
  }