*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
  }

  /*colour*/
:root { /*i got this colour palette from https://www.materialpalette.com/pink/grey*/
    --divider: #BDBDBD;
    --primary: #E91E63;
    --dark: #C2185B;
    --light: #F8BBD0;
    --accent:#9E9E9E;
    --text1: #212121;
    --text2:#FFFFFF;
    --border: 5px solid var(--divider);
}

/*COLOUR BLOCK */
.Home{ /* I got this styling from https://codepen.io/miquel/pen/KVXBRQ*/
    text-align:center;
    position:relative;
    height: auto;
    padding-bottom:60px;
    background: var(--primary);
    background-size:cover;
    color:var(--text2);
    overflow:hidden;
}
h1{ /* I got this styling from https://codepen.io/miquel/pen/KVXBRQ*/
    margin:30px 0 10px;
    font-size:35px;
}


/*navigation*/ /* i used the styling of this websites navigation bar https://codepen.io/jakestuts/full/eyvrx as inspiration for my navigation bar*/
nav{
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--text1);
}

ul {
    overflow:auto;
    list-style-type: none
}

li {
    height:15px;
    float:left;
    margin-right: 0px;
    border-right: 3px solid
    var(--divider); 
    padding: 0 15px;
}

li:last-child {
    border-right:none;
}

li a {
    text-decoration: none;
    text-align: center;
    color: var(--text1);
    font: 15px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5 ease;
}

li a:hover {
    /*text-shadow: 2px 2px var(--accent); /* I got this hover feature from: https://www.w3schools.com/cssref/css3_pr_text-shadow.asp*/
    filter: drop-shadow(16px 16px 25px var(--accent));; 
    color: var(--accent);
}


body {
    text-align: center;
    

}

footer { 
    position: absolute;
    bottom: 10px; /* i got this line of code from https://www.w3schools.com/cssref/pr_pos_bottom.asp*/
    left: 50%;
}