:root { /*i got this colour palette from https://www.materialpalette.com/pink/grey*/
    --divider: #BDBDBD;
    --primary: #E91E63;
    --dark: #C2185B;
    --light: #F8BBD0;
    --accent:#9E9E9E;
    --text: #212121;
    --border: 5px solid var(--divider);
}
nav{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}

nav {
    margin:50px;
}

ul {
    overflow:auto;
    list-style-type: none
}

li {
    height:25px;
    float:left;
    margin-right: 0px;
    border-right: 5px solid
    var(--divider); 
    padding: 0 20px;
}

li:last-child {
    border-right:none;
}

li a {
    text-decoration: none;
    text-align: center;
    color: rgb(15, 15, 15);
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    transition: all 0.5 ease;
}

li a:hover {
    color: var(--accent);
}

.selfie {
    height: 350px;
    border-style: none;
    border-radius: 100%; 
    filter: drop-shadow(0);; /* The drop shadow filter i found on this website https://developer.mozilla.org/en-US/docs/Web/CSS/filter*/
}
.selfie:hover {
    filter: drop-shadow(16px 16px 20px var(--accent));; 
    border-style: none;
    border-radius: 100%;
    transition: background-size 1.5s ease;
    filter: drop-shadow(16px 16px 20px var(--accent));;
    transition: background-size 0.3s ease; 

}
body {
    text-align: center;
    

}

.container {
    text-align: center;
}
